extends base

block content 
    h4 Update Video
    form(method="POST") 
        input(name="title", placeholder="Video Title", maxlength=80 value=video.title, required)
        input(name="description", placeholder="description", required, type="text", minlength=20, value=video.description)
        input(name="hashtags", placeholder="Hashtags, saparated by comma.", required, type="text", value=video.hashtags.join())
        input(type="submit", value="Save")